* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: auto
}

@font-face {
    font-family: 'MontserratAlternates-Thin';
    src: url('/fonts/MontserratAlternates-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url('/fonts/MontserratAlternates-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
}

$background-color: #3A003D;
$text-color: #FFFFFF;
$primary-color: #FF5A19;
$secondary-color: #191919;

$font-MontserratAlternates-Thin: 'MontserratAlternates-Thin', sans-serif;
$font-MontserratAlternates-Bold: 'MontserratAlternates-Bold', sans-serif;
$font-Poppins-Thin: 'Poppins-Thin', sans-serif;
$font-Poppins-Medium: 'Poppins-Medium', sans-serif;
$font-Poppins-Bold: 'Poppins-Bold', sans-serif;
$font-Roboto: 'Roboto', sans-serif;